:host {
	overflow: hidden;
	background-color: #333;
	box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2);
}
pre {
	top: 5px;
	right: 5px;
	position: absolute;
	margin: 0;
	font-weight: 700;
	color: gray;
	text-align: right;
	white-space: pre-line;
	pointer-events: none;
}
.overlaying-buttons {
	position: absolute;
	top: 4px;
	left: 7px;
	z-index: 991;
}

.overlaying-buttons editor-button {
	margin-left: 3px;
}

#engine-canvas {
	position: absolute
}
