span.label, span.space {
        margin - right: 5 px
    }: host {
        @apply(--layout - fit);
        @apply(--layout - vertical);
        overflow: auto
    }
    .border {
        position: relative;
        border: 1 px solid #171717;
    background:# 333
    }
editor - buttons - item img {
    height: 10 px
}
editor - buttons - item i {
    font - size: 10 px;
    padding: 0
}
editor - unit - input {
    width: 80 px
}
span {
    flex: none
}
span.label {
        width: 35 px
    }
    .path {
        font - weight: 700
    }
    .path::selection {
        background - color: #007acc
}
.select {
    user-select:text;
    -webkit-user-select:text
}