: host {
    overflow: hidden
}
pre {
    top: 5 px;
    right: 5 px;
    position: absolute;
    margin: 0;
    font - weight: 700;
    color: gray;
    text - align: right;
    white - space: pre - line;
    pointer - events: none
}
.overlaying - buttons {
        position: absolute;
        top: 4 px;
        left: 7 px;
        z - index: 991
    }
    .overlaying - buttons editor - button {
        margin - left: 3 px
    }